@import  "particulars";
#main3{
	.main3-t{
		h3{
			height:49px;
			a{float:left;font:12px/49px "微软雅黑";color:#666666;}
			&>i{width:9px;height:5px;background:url(../../dist/img/jl.png) no-repeat;background-position:-89px -9px;display:block;transform: rotate(-90deg);margin:22px 11px 0 13px;margin-right:8px;float:left;}
			a:last-child{color:#999999;}
		}
	}
	.main3-b{
		border-bottom:1px solid #000000;height:500px;
		.main3-b-l{
			float:left;margin-bottom:16px;position:relative;
			.img{
				position:relative;width:352px;
				&>img{display:block;width:352px;height:352px;border:1px solid #cccccc;box-sizing:border-box;}
				b{width:176px;height:176px;position:absolute;background:rgba(204,163,0,0.6);top:0;left:0;display:none;}
			}
			.small{
				position:relative;margin-top:6px;width:352px;height:54px;overflow:hidden;
				img{
					display:block;float:left;width:54px;height:54px;border:1px solid #cccccc;margin-left:8px;padding:1px;box-sizing:border-box;
				}
				&>p{position:absolute;width:500px;}
				img:nth-of-type(1){margin-left:24px;}
				span{position:absolute;width:18px;height:53px;background:url(../../dist/img/mainCon.png) no-repeat;display:block;top:0;}
				span:nth-of-type(1){left:0;background-position:-142px -116px;}
				span:nth-of-type(2){right:0;background-position:-168px -116px;}
			}
			.big{
				position:absolute;top:0;height:352px;overflow: hidden;display:none;left:362px;width:352px;
				img{position:absolute;width:704px;height:704px;}
				}
			&>span{
				display:block;margin-top:19px;position:absolute;
				&>a{
					display:block;height:100%;height:24px;
					i{display:block;background:url(../../dist/img/scPng.png) no-repeat;width:13px;height:12px;background-position:0 -8px;float:left;margin:6px 6px 0 0;}
					s{font:12px/24px "微软雅黑";color:#998675;float:left;}
				}
				b{
					display:block;height:45px;
					i{float:left;background:url(../../dist/img/iconKf.png) no-repeat;width:12px;height:16px;margin:13px 5px 0 0 ;}
					s{float:left;background:url(../../dist/img/iconKf.png) no-repeat;width:17px;height:18px;background-position:-25px 0;margin:13px 5px 0 38px;}
					a{font:12px/45px "微软雅黑";color:#cc1d00;float:left;}
				}
			}
		}
		.main3-b-c{
			float:left;margin-left:28px;width:610px;
			h4{
				a{
					b{font-size:18px;color:#ff0000;}
					span{font-size:22px;font-weight: 900;color:#de2507;margin:0 8px;}
					i{font-size:18px;color:#444444;}
					&>s{font-size:12px;color:#999999;display:block;margin:9px 0  22px 0;}
				}
			}
			.yin{
				height:96px;background:#f7f7f7;padding-left:12px;
				b{
					height:30px;font:12px/30px "微软雅黑";display:block;
				}
				&>b:nth-of-type(1){
					&>s{color:#000;float:left;}
					a{font: 900 16px/30px "微软雅黑";color:#de2507;float:left;}
					span{color:#de2507;float:left;margin:0 5px 0 5px;}
					&>p{color:#de2507;float:left;margin:0 5px 0 0 ;}
					u{color:#de2507;float:left;}
					&>i{float:left;width:44px;height:18px;text-align:center;display:block;background:#b3afe1;font:12px/18px "微软雅黑";color:#fff;margin:6px 5px 0;}
					b{float:left;font:12px/30px "微软雅黑";color:#938dcd}
					
				}
				&>b:nth-of-type(2){
					i{color:#000;float:left;}
					s{color:#666666;float:left;text-decoration: line-through;margin-left:6px;}
				}
				&>b:nth-of-type(3){
					i{margin-right:8px;float:left;}
					a{width:30px;height:20px;background:#cc1d00;text-align:center;font:12px/20px "微软雅黑";display:block;float:left;color:#fff;margin-top:5px;margin-right:5px;}
					s{float:left;color:#666666;}
				}
			}
			p:nth-of-type(1){
				font:12px/30px "微软雅黑";height:30px;margin-bottom:6px;
				i{color:#999;}
				a{color:#ff6d55;margin-left:12px;}
				span{margin:0 21px 0 21px;color:#999999;}
			}
			p:nth-of-type(2){
				height:32px;font:12px/32px "微软雅黑";
				i{float:left;color:#000;margin-right:6px;}
				&>span{float:left;width:102px;height:30px;border:2px solid #dddddd;text-align:center;font:12px/30px "微软雅黑";color:#666;margin-right:11px;}
				&>span:hover{border:2px solid #ff1d02;}
			}
			p:nth-of-type(3){
				height:32px;font:12px/32px "微软雅黑";margin-top:17px;
				i{float:left;color:#000;margin-right:6px;}
				span{float:left;width:30px;height:30px;border:2px solid #dddddd;text-align:center;font:12px/30px "微软雅黑";color:#666;margin-right:5px;}
				&>span:hover{border:2px solid #ff1d02;}
			}
			p:nth-of-type(4){
				height:32px;font:12px/32px "微软雅黑";margin-top:17px;
				i{float:left;color:#000;margin-right:6px;}
				input[type="text"]{float:left;width:40px;height:22px;border-left:none;border-right:none;border-top:1px solid #dddddd; border-bottom:1px solid #dddddd;background:#fff;text-align:center;}
				input[type="button"]{background:#fff;float:left;width:20px;height:24px;display:block;border:1px solid #dddddd;}
			}
			p:nth-of-type(5){
				margin-top:20px;
				button{width:180px;height:50px;background:#cc1d00;text-align:center;color:#fff;font:20px/50px "微软雅黑";border:none;}
				span{display:block;font:12px/43px "微软雅黑";color:#666666;}
			}
		}
		.main3-b-r{
			margin-left:25px;width:175px;
			h4{font:22px/44px "微软雅黑";color:#4c87cd;border-top:1px solid #c5d8ef;border-bottom:1px solid #c5d8ef;}
			p{
				height:21px;
				a{font:12px/21px "微软雅黑";color:#176ecb;float:left;}
			}
			p:nth-of-type(1){
				margin-top:17px;padding-left:15px;
				i{float:left;display:block;margin-right:6px;width:21px;height:22px;display:block;background:url(../../dist/img/fi1.jpg) no-repeat;}
				
			}
			p:nth-of-type(2){
				margin-top:9px;padding-left:15px;
				i{float:left;display:block;margin-right:6px;width:21px;height:22px;display:block;background:url(../../dist/img/fi2.jpg) no-repeat;}
			}
			p:nth-of-type(3){
				margin-top:13px;padding-left:15px;
				i{float:left;display:block;margin-right:6px;width:21px;height:22px;display:block;background:url(../../dist/img/fi3.jpg) no-repeat;}
			}
		}
	}
}
