@import  "public";
.margin2{width:992px;margin:0 auto;}
#register{
    padding-bottom:140px;
    .register-t{
        margin-top:20px;
        img{display:block;}
        img:nth-of-type(1){float:left;}
        img:nth-of-type(2){float:right;margin-top:20px;}
    }
    .register-b{
        margin-top:51px;
        img{display:block;float:left;}
        .table{
            float:left;width:372px;height:481px;border-width:2px 1px 1px ;border-color:#ea3918 #cccccc #cccccc;border-style:solid;padding:0 40px;box-sizing:border-box;
            h3{
                height:68px;
                span{font:900 22px/68px "微软雅黑";color:#444444;float:left;}
                b{float:left;margin:24px 0 0 38px;font-size:12px;font-weight:900;color:#444444; }
                a{float:left;font-size:12px;color:#999999;margin-top:24px;}
            }
            p{
                height:56px;
                input[type="text"],input[type="password"]{display:block;width:290px;height:32px;border:1px solid #dedede;font:12px/30px "微软雅黑";padding:0 5px;box-sizing:border-box;}
               
                span{font:12px/24px "微软雅黑";display:none;}
               
            }
            p:nth-of-type(4){
                u{
                    height:32px;display:block;
                    input[type="text"]{width:110px;height:32px;border:1px solid #dedede;font:12px/30px "微软雅黑";color:#757575;padding:0 8px;box-sizing:border-box;float:left;}
                    b{float:left;width:80px;height:26px;margin:5px 6px 0 3px;color:#fff;background:#03A4FE;font:12px/26px "微软雅黑";text-align:center;}
                    s{float:left;display:block;font:12px/30px "微软雅黑";color:#999999;}
                }
               span{font:12px/24px "微软雅黑";}
            }
            p:nth-of-type(5){
                 input[type="text"]{width:110px;height:32px;border:1px solid #dedede;font:12px/30px "微软雅黑";color:#757575;padding:0 8px;box-sizing:border-box;float:left;}
                 input[type="button"]{width:110px;height:32px;border:1px solid #dedede;background:#eeeeee;font:12px/30px "微软雅黑";color:#444444;text-align:center;margin-left:3px;float:left;
                }
            
            }
            p:nth-of-type(6){
                input[type="checkbox"]{float:left;}
                i{float:left;}
                a{float: left;}
                input[type="submit"]{width:290px;height:40px;background:#e83917;font:22px/40px "微软雅黑";color:#ffffff;text-align:center;border:none;float:left;display:block;margin-top:4px;}
            }
            p:last-child{
                text-align:center;font:12px/56px "微软雅黑";
                b{color:#444444;}
                a{color:#128cff;}
            } 
        }
    }
}
